@font-face {
    font-family: "Rodondo";
    src: url(Rodondo.otf) format("OpenType");
}

:root {
    font: bold var(--font-size) "Rodondo";
    --font-size: 70px;
    --font-overflow: calc(var(--font-size) * 0.6);
    overflow: hidden;
}

#main {
    animation: 5s ease-out fade-in infinite;
}

div {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 50%;
    height: calc(100% + var(--font-size));
    animation: 5s ease-in fade-out infinite;
}

div > * {
    position: relative;
    left: -50%;
}

img {
    height: 100%;
    max-height: calc(100% - var(--font-size) - var(--font-overflow));
    top: 0;
}

svg {
    position: relative;
    top: calc(var(--font-overflow) - var(--font-size));
    width: 100%;
    height: var(--font-size);
}

text {
    paint-order: stroke;
    text-anchor: middle;
    fill: url(#Weaver);
    stroke: #000a54;
    stroke-width: 15;
    stroke-linejoin: round;
}

.text-gradient-start {
    stop-color: #dcaa14;
}

.text-gradient-end {
    stop-color: #a63b2d;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    
    30% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    
    30% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}
